@import "tailwindcss";

@theme static {
  --color-spotify: #1ed760;
  --color-card: #181818dd;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.limited-text {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
